<div class="parallax-container">
  
  <div class="valign-wrapper h100">
    <h1 class=" blue-text overlay center-align">
     Sistema para detección de Vocales
    </h1>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="http://www.isc.escom.ipn.mx/images/escudoESCOM.jpg">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
      <h4 class="story-header">Aplicaciones de la transformada de furier en el procesamiento de audio</h4>
      <br />
      <p class="grey-text text-darken-3 lighten-3 left-align">Las vocales que se conocen en el español gracias a sus sonidos característicos se pueden agrupar en las señales sonoras
        en una rango de 300 – 4000 Hz. Las señales básicas periódicas conocidas como senos y cosenos (un seno desfasado en
        π medios de radián) pueden, tras varias y complejas combinaciones, aproximar una señal no periódica como las de una
        persona que habla en un micrófono, para así, poderlas tratar como una señal de tipo eléctrica, y ser transformada del
        dominio del tiempo, al dominio de la frecuencia, para así poderla estudiar con mayor profundidad, y poderla “tratar”
        para después enviarla a una bocina o, como la actualidad lo permite, a texto.</p>
  
      <h4 class="story-header">Formante</h4>
      <br/>
      <p class="grey-text text-darken-3 lighten-3 left-align">
        Un formante es el pico de intensidad en el espectro de un sonido; se trata de concentración de energía (amplitud de onda)
        que se da en una determinada frecuencia. En el habla se determinan por el proceso de filtrado por resonancia que se
        produce en el tracto vocal por la configuración de los articuladores. Técnicamente los formantes son bandas de frecuencia
        donde se concentra la mayor parte de la energía sonora de un sonido.
      </p>
      <br/>
  </div>
</div>

