.parallax-container {
    height: 50%;
  }
  
  .h100 {
    height: 30%;
  }
  
  .header {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
    text-rendering: optimizeLegibility;
  }
  
  .overlay,
  .parallax-text {
    /*font-size: 80px;*/
    font-family: 'Lato', sans-serif;
    letter-spacing: .11em;
    font-size: 2.25em;
    text-rendering: optimizeLegibility;
  }
  
  @media (min-width: 993px) {
    .parallax-container {
      height: 50%;
    }
    .overlay,
    .parallax-text {
      /*font-size: 80px;*/
      font-family: 'Lato', sans-serif;
      letter-spacing: .11em;
      font-size: 7em;
      text-rendering: optimizeLegibility;
    }
    .header {
      font-family: 'Lato', sans-serif;
      font-size: 2.25em;
      font-style: italic;
      font-weight: bold;
      margin: 10px;
      text-rendering: optimizeLegibility;
    }
  }
  
  .overlay {
    width: 100%;
  }
  
  .section {
    height: 400px;
  }
  
  .story-header {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  }
  
  p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
  }
  