<nav class="white">
  <div class="nav-wrapper">
    <a *ngIf="wedding" href="#" class="page-title blue-text">{{wedding.name | uppercase}}</a>

    <a materialize="sideNav" [materializeParams]="sidenavParams" [materializeActions]="sidenavActions" data-activates="nav-mobile"
      class="button-collapse hide-on-large-only">
      <i class="material-icons grey-text">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a class="blue-text" [routerLink]="menuItem.route">{{ menuItem.name | uppercase }}</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a>
          <i class="material-icons" (click)="close()">close</i>
        </a>
      </li>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a class="blue-text" [routerLink]="menuItem.route" (click)="close()">{{ menuItem.name | uppercase }}</a>
      </li>
      <div class="divider">

      </div>
    </ul>
  </div>
</nav>
<router-outlet>
</router-outlet>
<footer class="page-footer  blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Teoría de Comunicaciones y Señales</h5>
        <p class="grey-text text-lighten-4">Profesor: César Mujíca Ascencio</p>
        <p class="grey-text text-lighten-4">Grupo: </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Integrantes</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Aguirre Bahena Isaac</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Gutíerrez Cerda Vladimir</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Rodríguez Aguilar Kenia</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Sánchez Aguilar Isaac </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-4">
    <div class="container">
      © ESCOM | Escuela Superior de Cómputo
    </div>
  </div>
</footer>