<div class="container">
  <h4 class="center">Detectar vocal a partir de un archivo</h4>
  <div class="row" *ngIf="showForm">
    <p>Selecciona un Archivo en formato *.wav</p>
    <div class="file-field input-field">
      <div class="btn blue">
        <span>Audio</span>
        <input type="file" #file id="sound" (change)="upload(file.files)">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>
  </div>
  <div class="row center-align" *ngIf="showPreoloader">
      <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
  </div>
  <div class="row .center-align center-align" *ngIf="ShowRequestResult" >
    <img class="materialboxed center" width="650" src="{{urlToFig}}">
  </div>
</div>
