<div class="container">
  <div class="row center">
      <h4>Detectar vocal pronunciada a través de un microfo</h4>
  </div>
  <div class="row center"  *ngIf="showForm" >
      <div class="row">    
          <div class="col s6 right-align"><p>Pulse el botón para grabar el audio</p></div>
          <div class="col s6"><a class="btn-floating btn-large pulse waves-effect waves-light red" (click)="recordSound()"><i class="material-icons">keyboard_voice</i></a></div>
      </div>
  </div>
  <div class="row center" *ngIf="showrRecording">
      <h5>Grabando Audio</h5>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
  </div>
  <div class="row" *ngIf="ShowRequestResult">
      <img class="materialboxed" width="650" src="{{urlToFig}}">
  </div>
</div>